*{
  margin: 0;
  padding: 0;
  background-image: "3053366.png";
  
}

body
{
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("bgi.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  opacity: 91%;
}

.form-box
{
  height: auto;
  max-width: 380px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;  
  margin-top: 100px;
  justify-content: space-between;
  padding-top: 20px;
  background-color: #2c2f33;
  position: relative;
  box-shadow:0 0 10px #000;
  
}

.content h1
{
  font-family: 'papyrus', fantasy;
  color: #99aab5;

}

.content h2 
{
  font-family: 'times new roman', serif;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #ffffff;
}

.content h2 username, password
{
  
  color: #ffffff;
}

.content input
{
  width: 250px;
  height: 22px;
  border-radius: 3px; 
}

.content h3
{
  
  margin: 0 50px 0 50px;  
  display: inline;
  color: #ccc;
  text-shadow: 3.5px 1.5px 3px #000;
}

.content input
{
  height: 25px;
  color: #000000;
  font-size: 12px;
  border: 0;
  border-bottom: none; /* Prevent double borders */
  text-align: center;
}

.login
{
  padding-top: 35px;  
}

.button
{
  width: 100px;
  height: 30px;
  transition: .4s;  
  border: none;
  opacity: none;
  border-radius: 12px;
}

.button:hover
{
  background-color: #7289da;
}