@import url('https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap');

*{
  margin: 0;
  padding: 0;
}

html
{
  font-size: 100%; 
}

body
{
  padding: 0;
  margin: 0;
  background-image: url("bgi.jpg");

}

.form_box
{
  height: 370px;
  width: 360px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;  
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  background-color: #2c2f33;
  position: relative;
  box-shadow:0 0 13px #000;
}

.form_box h1
{
  font-family: 'papyrus', fantasy;
  color: #11acb5;
}

.form_box h3 
{
  font-family: 'times new roman', serif;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #ffffff;
}

.form_box form
{
  font-size:25px;
}

.form_box form input
{
  width: 200px;
  height: 25px;
  background-color: #555755;
  color: #ffffff;
  font-size: 13px;
  border-top: none;
  border-left: none;
  border-right: none; 
  text-align: center;
  border-radius: 2px;
  border-bottom-color: white;
  outline: none;
  align-items:center;
}
  
.login
{
  align-items: center;
  padding-top:25px;
}

.btn
{
  height:30px;
  width:100px;
  background-color:#2c2f33;
  border:none;
  transition:ease-in .5s;
}


.btn:hover
{
  box-shadow: inset 120px 0 0 0 #ffffff;
  color: #000000;
}

.btn:active
{
  text-align: center;
  font-size: 14.5px;  
}


.reg
{
  padding-top: 7px;
  color: skyblue
}

.sign-up a
{
  color:#ffffff;
  text-decoration:underline;
}
